*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(141, 202, 202);
  font-family: 'Sansita Swashed', cursive;
}

header {
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
  width: 100%;
  padding: 1rem;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  max-width: 180px;
  min-width: 100px;
}

img {
  width: 100%;
}

.logo--black {
  position: absolute;
  margin: 3px 0 0 3px;
  z-index: -1;
}

main {
  background-image: url("./../img/bananagif@1920x1080.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 500px;
}

.hero > h1 {
  font-size: 5em;
  color: white;
  width: 75%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.bg-image {
  position: absolute;
  top: 400px;
  z-index: -1;
}

.hamburger {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.showNav {
  background: black;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  transform: translateY(0);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav button .open {
  color: white;
}

nav button:focus {
  outline: white;
  border: none;
}

.material-icons {
  font-family: "Material Icons";
  content: "\e5d2";
}

@media only screen and (min-device-width: 1224px) {

  button.hamburger {
    display: none;
  }

  .menu-container {
    border-bottom: 5px dotted yellow;
    height: 40px;
    transform: translateY(0);
    position: relative;
  }

  ul {
    display: flex;
    list-style: none;
    /* text-align: right; */
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 0 1rem 0 1rem;
  }

}